<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>RealEstateSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>csit314.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agentsServlet</display-name>
    <servlet-name>agentsServlet</servlet-name>
    <servlet-class>csit314.agentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agentsServlet</servlet-name>
    <url-pattern>/agentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showUsersServlet</display-name>
    <servlet-name>showUsersServlet</servlet-name>
    <servlet-class>csit314.showUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showUsersServlet</servlet-name>
    <url-pattern>/showUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenServlet</display-name>
    <servlet-name>EditScreenServlet</servlet-name>
    <servlet-class>csit314.EditScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenServlet</servlet-name>
    <url-pattern>/EditScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>csit314.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPropertiesServlet</display-name>
    <servlet-name>ShowPropertiesServlet</servlet-name>
    <servlet-class>csit314.ShowPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPropertiesServlet</servlet-name>
    <url-pattern>/ShowPropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentShowPropertiesServlet</display-name>
    <servlet-name>AgentShowPropertiesServlet</servlet-name>
    <servlet-class>csit314.AgentShowPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentShowPropertiesServlet</servlet-name>
    <url-pattern>/AgentShowPropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPropertiesServlet</display-name>
    <servlet-name>AddPropertiesServlet</servlet-name>
    <servlet-class>csit314.AddPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPropertiesServlet</servlet-name>
    <url-pattern>/AddPropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPropertyScreenServlet</display-name>
    <servlet-name>EditPropertyScreenServlet</servlet-name>
    <servlet-class>csit314.EditPropertyScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPropertyScreenServlet</servlet-name>
    <url-pattern>/EditPropertyScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPropertyServlet</display-name>
    <servlet-name>EditPropertyServlet</servlet-name>
    <servlet-class>csit314.EditPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPropertyServlet</servlet-name>
    <url-pattern>/EditPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePropertyServelet</display-name>
    <servlet-name>DeletePropertyServelet</servlet-name>
    <servlet-class>csit314.DeletePropertyServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePropertyServelet</servlet-name>
    <url-pattern>/DeletePropertyServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerBrowsePropertiesServlet</display-name>
    <servlet-name>BuyerBrowsePropertiesServlet</servlet-name>
    <servlet-class>csit314.BuyerBrowsePropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerBrowsePropertiesServlet</servlet-name>
    <url-pattern>/BuyerBrowsePropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavoriteServlet</display-name>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <servlet-class>csit314.AddToFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoriteServlet</servlet-name>
    <url-pattern>/AddToFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavoriteScreenServlet</display-name>
    <servlet-name>AddToFavoriteScreenServlet</servlet-name>
    <servlet-class>csit314.AddToFavoriteScreenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavoriteScreenServlet</servlet-name>
    <url-pattern>/AddToFavoriteScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoriteListServlet</display-name>
    <servlet-name>FavoriteListServlet</servlet-name>
    <servlet-class>csit314.FavoriteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoriteListServlet</servlet-name>
    <url-pattern>/FavoriteListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerShowProperties</display-name>
    <servlet-name>BuyerShowProperties</servlet-name>
    <servlet-class>csit314.BuyerShowProperties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerShowProperties</servlet-name>
    <url-pattern>/BuyerShowProperties</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSellersServlet</display-name>
    <servlet-name>ShowSellersServlet</servlet-name>
    <servlet-class>csit314.ShowSellersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSellersServlet</servlet-name>
    <url-pattern>/ShowSellersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBuyersServlet</display-name>
    <servlet-name>ShowBuyersServlet</servlet-name>
    <servlet-class>csit314.ShowBuyersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBuyersServlet</servlet-name>
    <url-pattern>/ShowBuyersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentShowPropertiesByRegionServlet</display-name>
    <servlet-name>AgentShowPropertiesByRegionServlet</servlet-name>
    <servlet-class>csit314.AgentShowPropertiesByRegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentShowPropertiesByRegionServlet</servlet-name>
    <url-pattern>/AgentShowPropertiesByRegionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromFavoriteListServlet</display-name>
    <servlet-name>RemoveFromFavoriteListServlet</servlet-name>
    <servlet-class>csit314.RemoveFromFavoriteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFromFavoriteListServlet</servlet-name>
    <url-pattern>/RemoveFromFavoriteListServlet</url-pattern>
  </servlet-mapping>
</web-app>