body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('login-background.jpg');
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.login-wrapper {
    
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.login-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 5px solid rgba(255, 255, 255, .2);
    /* border: 5px solid rgba(0, 0, 0, .2); */
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    /* padding: 20px 45px 20px 20px; */
}

.input-box input::placeholder {
    /* color: #3a3838; */
    color: #fff;
    font-weight: bolder;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}

.login-wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-wrapper input[name="login"] {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

